@model IEnumerable<Job>

@{
    ViewData["Title"] = "Job List";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Index Jobs</h1>
    <a asp-controller="Job" asp-action="Upsert" class="btn btn-primary">Add Jobs</a>
</div>
<hr />

<div class="row">
    <div class="col-md-8">
        <div class="table-responsive">
            <partial name="_Alert" />
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped" id="tblData">
                        <thead>
                            <tr>
                                <th>Job Name</th>
                                <th>Working Method</th>
                                <th>Category</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/job.js"></script>
}