@model IEnumerable<Category>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Index Category</h1>
    <a asp-controller="Category" asp-action="Create" class="btn btn-primary">Add Category</a>
</div>
<hr />

<div class="row">
    <div class="col-md-6">
        <div class="table-responsive">
            <partial name="_Alert" />
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int rowNo = 0; }
                            @foreach(var category in Model)
                            {
                                <tr>
                                    <td>@(rowNo += 1)</td>
                                    <td>@category.Name</td>
                                    <td>
                                        <a class="btn btn-warning btn-sm" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                                        <a class="btn btn-danger btn-sm" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>